Here you can find a first exploration of a dataset giving deaths in the US
from 2005 to 2015, there is some commented code which includes data visualization 
of this data sets. You will also find some functions which are useful to load big
data sets.

This is a preliminary version, I was just playing with the data. If you want to see
the 'final' (it is also preliminary in some complex sense: I don't have enough means
to train a big neural network, but the idea is there) look at the classification file
on this folder (GitHub).

# 1 Background

Every year, centers for disease control and prevention (CDC) provides detailed statistics of deaths and their underlying causes in the United States. The CDC mortality data is used by various industries like medical, health and insurance to provide better services. It provides the basis of numerous researches and is widely cited in public papers.
Because of your outstanding knowledge, you are hired as a data scientist by a prestigeous insurance com- pany. The VP of your department wants to launch a life insurance product but would like to do an analysis on the cause of death in the US population first. The following questions needs to be answered:

# About the datasets

* Download the CDC mortality data between 2005 and 2015 from https://www.kaggle.com/cdc/ mortality the data files include "2005_data.csv", "2006_data.csv" ... "2015_data.csv". Each file contains 77 columns and the fields are selectively described as below:

    * current_data_year: the year of the statistics
    * detail_age: death age
    * icd_code_10th_revision:ICD10code,amedicalclassificationlistbytheWorldHealthOrganiza-        tion (WHO). It contains codes for diseases, signs and symptoms, abnormal findings,          complaints, social circumstances, and external causes of injury or diseases. A              detailed descriptions of the code can be found in allvalid2011 (detailed titles            headings).xls"

* Medical transcripts of 5000 patients: "medicaltranscriptions.csv".

In [1]:
# Libraries

import pandas as pd
import numpy as np

df1 = pd.read_csv('archive/' + '2005' + "_data.csv")

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df1.columns

Index(['resident_status', 'education_1989_revision', 'education_2003_revision',
       'education_reporting_flag', 'month_of_death', 'sex', 'detail_age_type',
       'detail_age', 'age_substitution_flag', 'age_recode_52', 'age_recode_27',
       'age_recode_12', 'infant_age_recode_22',
       'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'current_data_year', 'injury_at_work',
       'manner_of_death', 'method_of_disposition', 'autopsy', 'activity_code',
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       'icd_code_10th_revision', '358_cause_recode', '113_cause_recode',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3', 'entity_condition_4',
       'entity_condition_5', 'entity_condition_6', 'entity_condition_7',
       'entity_condition_8', 'entity_condition_9', 'entity_condition_10',
       'entity_condition_11', 'entity_condition_12', 'entity_condition_13',
       'entity_condition_14', 'entity_condition_15', 'entity_condition_16',
       'entity_condition_17', 'entity_condition_18', 'entity_condition_19',
       'entity_condition_20', 'number_of_record_axis_conditions',
       'record_condition_1', 'record_condition_2', 'record_condition_3',
       'record_condition_4', 'record_condition_5', 'record_condition_6',
       'record_condition_7', 'record_condition_8', 'record_condition_9',
       'record_condition_10', 'record_condition_11', 'record_condition_12',
       'record_condition_13', 'record_condition_14', 'record_condition_15',
       'record_condition_16', 'record_condition_17', 'record_condition_18',
       'record_condition_19', 'record_condition_20', 'race',
       'bridged_race_flag', 'race_imputation_flag', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [3]:
# years on a list 

csv_file_list = 11*[0]

j = 0
for i in range(5,16):
    if i < 10: 
       csv_file_list[j] = '200'+str(i)
    else:
       csv_file_list[j] = '20'+str(i)
    j += 1

csv_file_list

['2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

In [4]:
# Charging several datasets from names in an array.
# In this case we cannot do that because the dataset size is 4gb
# It is much better accessing each piece of data separately

#def reader(f):
#    d = pd.read_csv(f, index_col=0, header=None, low_memory =False)
#    d.columns = range(d.shape[1])
#    return d
#
#df = pd.concat([reader("archive/"+f) for f in csv_file_list], keys=files)

To improve our access to these data sets we should break these data sets into variables.
We should create a dataframe containing particular variables along the time.

# 2 Problems

## 2.1 Cause of Death in the U.S.

* What are the major causes of death in the US (show your evidence)?

* Are the major causes of death changing over time? Are there any significant increasing or decreasing trends? Can you explain the trends (using references, other sources of data etc.)? How can you address the significance of the trends using statistical modeling method?

* For different ages what are the main causes of death? What are the main causes of death among young people? What are the main cause of death among old people (can you design a way to visualize your findings)?

* Pick a few causes of death and estimate the probability of death due to those causes (For example: build a binary classification model to understand the impacts of age, gender, calendar year, education ... For example, estimate the death caused by heart disease v.s. other diseases).

* Explore the data creatively and see if you can get any insights beyond your VPâ€™s question list (OP- TIONAL).

## 2.1.1 What are the major causes of death in the US (show your evidence)?

In [5]:

#col_list = ['manner_of_death']
#df = pd.read_csv("archive/2005_data.csv", usecols=col_list)
#df

In [6]:
# Creating dataframe with causes of death from 2005 to 2015

# load each data set and extract the variable 'cause of death'

# This cell uses a lot of resources

#csv_file_list # name of csv files
#cd_time = pd.DataFrame()

#for i in csv_file_list:
#     df1 =  pd.read_csv('archive/' + i + "_data.csv", low_memory = False)
#     cd_time[i] = df1.manner_of_death
#     del(df1)

In [7]:
# Function extracting a variable from all the cvs - from 2005 to 2015 we extract the same variable

#def extract(df,string,csv_file_list):
#    df2 = pd.DataFrame()
#    for i in csv_file_list:
#        df1 = pd.read_csv('archive/' + i + "_data.csv", low_memory = False)
#        df2[i] = df1[string]
#        del(df1)
#    return df2

#col_list = ['manner_of_death','entity_condition_2']

'''To do

Thinking how to write a function changing names from similar columns.
Other possibility is putting all together in one csv and changing the 
name of the columns.


'''
    
    

def extract(col_list,csv_file):
    df2 = pd.DataFrame()
    for i in csv_file:
        df1 = pd.read_csv('archive/' + i + "_data.csv", usecols = col_list)
        df2 = pd.concat([df2,df1], axis=1, sort=False)
        print(i)
        del(df1)
    return df2



# create a dictionary changing all the names

In [8]:
#col_list = ['manner_of_death','entity_condition_2']
#df = extract(col_list, ['2005','2006','2007'])

In [9]:
#df

In [10]:
#cd_time

# Testing the function with the variable entity_condition_2

#string = 'entity_condition_2'
#entity_c2 = []
#entity_c2 = extract([string],csv_file_list)

In [11]:
# Extracting several variables

# arguments: variables -> list of strings with the names of the variables to extract



#def(df,variables):
#    df2 = []
#    for i in variables:
#        df2 = extract(df,i,cvs_file_list)

In [12]:
#entity_c2

In [13]:
# We should take the variable 'cause of death' and then apply the unique code to
# find the people who died from certain disease. Then we have to study subsets to find 
# more variables affecting the result. For instance, age, sex, location, income, etc.

In [14]:
# Plot

# fig, axes = plt.subplots(2, 5, figsize=(10,5), dpi=200, sharex=True, sharey=True)
#colors = ['tab:red', 'tab:blue', 'tab:green', 'tab:pink', 'tab:olive', 'tab:violet', 'tab:slategray', 'tab:deepskyblue','tab:yellow', 'tab:saddlebrown']

#import matplotlib.pyplot as plt

#x = binblock = np.arange(1,9,1)
#cd_time.hist(figsize = (10,10), bins = x, rwidth = 10)
#plt.hist(cd_time[i], bins = x, rwidth = 10)
#plt.title('histogram ' + str(i))


#plt.suptitle('Histograms of the variable "manners of death" from 2005 to 2015', y=0.99, size=16)
#ax.set_xlim(50, 70); ax.set_ylim(0, 1);
#plt.tight_layout();

We see in this histogram that the most generalized manner of death in the US are
natural death, accident, suicide and homocide, in this order. The legend is

1. "Accident"
2. "Suicide"
3. "Homicide"
4. "Pending investigation"
5. "Could not determine"
6. "Self-Inflicted"
7. "Natural"

Inside these causes of death we can try to find particular causes. Let's try using 
the variables 'cause_recode', 'age', etc.

In [15]:
# Inside natural death - we choose some other variables

In [16]:
# Inside natural death - we study cause recode

In [17]:
# Inside natural death and age - we study cause recode

### 2.12 Are the major causes of death changing over time? Are there any significant increasing or decreasing trends? Can you explain the trends (using references, other sources of data etc.)? How can you address the significance of the trends using statistical modeling method?

In [18]:
# Plot of different years 'manners of death'

#labels = ("Accident", "Suicide", "Homicide", "Pending investigation", "Could not determine", "Self-Inflicted", "Natural")

#x = binblock = np.arange(1,9,1)
#plt.figure(figsize=(20,10))
#plt.title('Histogram "manner of death" from 2005 to 2015 increasing years')
#plt.xlabel("Cause of death", fontsize=16)  
#plt.ylabel("Number of deaths", fontsize=16)
#plt.legend(labels)
#plt.hist([cd_time['2005'],cd_time['2006'],cd_time['2007'],cd_time['2008'],cd_time['2009'],cd_time['2010'],cd_time['2011'],cd_time['2012'],cd_time['2013'],cd_time['2014'],cd_time['2015']], bins = x)
#plt.show()

In [19]:
#population = pd.read_csv("archive/US_population.csv")
#population

In [20]:
#import matplotlib.pyplot as plt

#fig, (ax1, ax2, ax3, ax4) = plt.subplots(1,4)
#fig.set_figheight(10)
#fig.set_figwidth(50)
#ax1.set_title('Accident', fontsize = 30)
#ax1.plot(cd_time[cd_time == 1].count())
#ax2.set_title('Suicide', fontsize = 30)
#ax2.plot(cd_time[cd_time == 2].count())
#ax3.set_title('Natural death', fontsize = 30)
#ax3.plot(cd_time[cd_time == 7].count())
#ax4.set_title('US population', fontsize = 30)
#ax4.plot(population.columns.values,population.values[0])
#plt.figtext(0.515, 1, 'Cause of death in the U.S.', ha='center', va='center', fontsize = 30)

In [21]:
# We can study population natural death increase relative to US population increase

#natural_death = cd_time[cd_time == 7].count()

#Dnd = 10*[0]
#Dp  = 10*[0]
#re  = 10*[0]
#re2 = 10*[0]

#for i in range(10):
#    Dnd[i] = natural_death[i+1]-natural_death[i]
#    Dp[i] = population.values[0][i+1]-population.values[0][i]
#    re[i] = Dnd[i]/Dp[i]
    
#re2 = natural_death/population.values[0]
#plt.title("Natural death relative to population size") 
#plt.plot(re)
#plt.show()
#natural_death = cd_time[cd_time == 7].count()
#relativenatpop = cd_time[cd_time == 7].count()/population
#plt.plot(relativenatpop.columns.values,relativenatpop.values[0])

In [22]:
# Going inside natural death

df1 = pd.read_csv('archive/' + '2012' + "_data.csv")

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
# Model 1 -> classification -> Age, Education, Sex, Race, Month of death
# Model 2 -> Regression -> age, education, sex, race, month of death, year of death 

'''Some general ideas:


1. Extract all the years for each variable, variable per variable - including all these in a dataframe
2. Prepare the data set to train the model - sex is categorical, race is categorical, month of death? - Education
3. Consider question: change over time, change along age
4. Use one disease against the other 
5. Explore our data set creatively

'''

#df_model

'Some general ideas:\n\n\n1. Extract all the years for each variable, variable per variable - including all these in a dataframe\n2. Prepare the data set to train the model - sex is categorical, race is categorical, month of death? - Education\n3. Consider question: change over time, change along age\n4. Use one disease against the other \n5. Explore our data set creatively\n\n'

In [24]:
df1.columns

Index(['resident_status', 'education_1989_revision', 'education_2003_revision',
       'education_reporting_flag', 'month_of_death', 'sex', 'detail_age_type',
       'detail_age', 'age_substitution_flag', 'age_recode_52', 'age_recode_27',
       'age_recode_12', 'infant_age_recode_22',
       'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'current_data_year', 'injury_at_work',
       'manner_of_death', 'method_of_disposition', 'autopsy', 'activity_code',
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_', 'icd_code_10',
       '358_cause_recode', '113_cause_recode', '130_infant_cause_recode',
       '39_cause_recode', 'number_of_entity_axis_conditions',
       'entity_condition_1', 'entity_condition_2', 'entity_condition_3',
       'entity_condition_4', 'entity_condition_5', 'entity_condition_6',
       'entity_condition_7', 'entity_condition_8', 'entity_condition_9',
       'entity_condition_10', 'entity_condition_11', 'entity_condition_12',
       'entity_condition_13', 'entity_condition_14', 'entity_condition_15',
       'entity_condition_16', 'entity_condition_17', 'entity_condition_18',
       'entity_condition_19', 'entity_condition_20',
       'number_of_record_axis_conditions', 'record_condition_1',
       'record_condition_2', 'record_condition_3', 'record_condition_4',
       'record_condition_5', 'record_condition_6', 'record_condition_7',
       'record_condition_8', 'record_condition_9', 'record_condition_10',
       'record_condition_11', 'record_condition_12', 'record_condition_13',
       'record_condition_14', 'record_condition_15', 'record_condition_16',
       'record_condition_17', 'record_condition_18', 'record_condition_19',
       'record_condition_20', 'race', 'bridged_race_flag',
       'race_imputation_flag', 'race_recode_3', 'race_recode_5',
       'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [25]:
csv_file_list = ['2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2013',
 '2014',
 '2015']

# 2012 name is 'icd_code_10' and not 'icd_code_10th_revision' we have to be careful 
# when extracting this data set.

# we can also modify the column on the dataset which is easier. 
# I don't know if you will read the code for that reason I will
# work with the original dataset

In [38]:
# classification model 

# I25.1: Atherosclerotic heart disease --> target - you can use this code changing the target for the other cases.
#C34.9: Malignant neoplasm of bronchus or lung, unspecified
#G30.9: Alzheimer's disease, unspecified 

# We should extract data of people who died from these diseases. 
# Let's create a code estimating the probability for the I25.1.

# First we need to extract data from 2005 to 2010, two variables 
# Model 1 -> classification -> Age, Education, Sex, Race, Month of death


# Predictors: 

col_list = ['age_recode_52','education_2003_revision','sex','race','marital_status','manner_of_death','icd_code_10th_revision']
df = extract(col_list, ['2005'])

# I added a 'control sentence' which prints the year (this way we can control if some of the years have different
# names for the columns)

2005

In [39]:
for i in ['2006','2007','2008','2009','2010','2011']:
    df.append(extract(col_list, [i]))
    
df.append(extract(['age_recode_52','education_2003_revision','sex','race','marital_status','manner_of_death','icd_code_10'],['2012']).rename(columns={'icd_code_10':'icd_code_10th_revision'}))

for i in ['2013','2014','2015']:
    df.append(extract(col_list, [i]))

2006
2007
2008
2009
2010
2011
2012
2013
2014
2015

In [40]:
df = df.fillna(0)

In [41]:
# Categorical variables to dummy variables

# categorical: sex, entity_condition_2, entity_condition_3, entity_condition_4

categorical = ['sex','marital_status']

def intodummy(df,categorical):
    for name in categorical:  
        dummy = pd.get_dummies(df[name])
        df = pd.concat([df,dummy], axis=1)
        df = df.drop(columns=[name])
    return df

In [42]:
intodummy(df,categorical)

,education_2003_revision,age_recode_52,manner_of_death,icd_code_10th_revision,race,F,M,D,M,S,U,W
0,0.0,35,7.0,C439,1,1,0,0,1,0,0,0
1,0.0,38,7.0,J439,1,0,1,1,0,0,0,0
2,0.0,41,7.0,I698,1,1,0,1,0,0,0,0
3,0.0,36,7.0,E119,1,0,1,0,0,1,0,0
4,0.0,39,7.0,C349,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2452501,9.0,37,0.0,I219,1,0,1,0,0,0,1,0
2452502,1.0,4,0.0,P269,2,0,1,0,0,1,0,0
2452503,1.0,11,0.0,P369,2,1,0,0,0,1,0,0
2452504,1.0,1,0.0,P010,1,0,1,0,0,1,0,0
2452505,9.0,43,0.0,I251,1,1,0,0,0,0,1,0

In [43]:
df = intodummy(df,categorical)

In [31]:
#intodummy(df,['entity_condition_2'])

#pd.concat([df,pd.get_dummies(df['entity_condition_2'].astype(np.int8))], axis=1)

In [44]:
# We extract the data for our target - in this case 

data = df
data

,education_2003_revision,age_recode_52,manner_of_death,icd_code_10th_revision,race,F,M,D,M,S,U,W
0,0.0,35,7.0,C439,1,1,0,0,1,0,0,0
1,0.0,38,7.0,J439,1,0,1,1,0,0,0,0
2,0.0,41,7.0,I698,1,1,0,1,0,0,0,0
3,0.0,36,7.0,E119,1,0,1,0,0,1,0,0
4,0.0,39,7.0,C349,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2452501,9.0,37,0.0,I219,1,0,1,0,0,0,1,0
2452502,1.0,4,0.0,P269,2,0,1,0,0,1,0,0
2452503,1.0,11,0.0,P369,2,1,0,0,0,1,0,0
2452504,1.0,1,0.0,P010,1,0,1,0,0,1,0,0
2452505,9.0,43,0.0,I251,1,1,0,0,0,0,1,0

In [51]:
(data['icd_code_10th_revision'] == 'I251') | (data['icd_code_10th_revision'] == 'C349')

0          False
1          False
2          False
3          False
4           True
           ...
2452501    False
2452502    False
2452503    False
2452504    False
2452505     True
Name: icd_code_10th_revision, Length: 2452506, dtype: bool

In [53]:
data = data[ (data['icd_code_10th_revision'] == 'I251') | (data['icd_code_10th_revision'] == 'C349' ) | (data['icd_code_10th_revision'] == 'G309' )]        ]

In [54]:
data # data with those three conditions

,education_2003_revision,age_recode_52,manner_of_death,icd_code_10th_revision,race,F,M,D,M,S,U,W
4,0.0,39,7.0,C349,1,1,0,0,1,0,0,0
15,0.0,37,7.0,C349,1,1,0,0,1,0,0,0
22,0.0,38,7.0,C349,1,1,0,0,1,0,0,0
30,0.0,42,7.0,C349,1,1,0,0,0,0,0,1
35,0.0,39,7.0,C349,3,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2452484,3.0,40,0.0,I251,1,0,1,0,0,0,1,0
2452486,9.0,44,0.0,I251,2,1,0,0,0,0,1,0
2452490,9.0,39,0.0,I251,2,0,1,0,0,0,1,0
2452499,9.0,42,0.0,I251,2,0,1,0,0,0,1,0
2452505,9.0,43,0.0,I251,1,1,0,0,0,0,1,0

In [33]:
# function filling 1's in the ICD_CODE

#target = 'I251' # change this variable and execute this code to fill with 1's another variable
#positions = data[data['icd_code_10th_revision'] == target].index.values

In [34]:
#positions

array([     76,     111,     118, ..., 2452490, 2452499, 2452505])

In [35]:
#data.icd_code_10th_revision[positions] = 1

<ipython-input-35-76a6e6af8381>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.icd_code_10th_revision[positions] = 1

In [36]:
# Complement list (positions with 0's)

#positions_c = []

#for i in range(len(data.index.values)):
#    if i not in positions:
#        positions_c.append(i)

KeyboardInterrupt:

In [ ]:
#data.icd_code_10th_revision[positions_c] = 0

In [ ]:
data

In [ ]:
len(data.index.values) # The size is big enough, we could use neural networks

# Pros -> predictions will be better
# Cons -> Training a neural network is computationally 'expensive'

In [ ]:
data